pkgbase = potato
	pkgdesc = A pomodoro timer for the shell
	pkgver = 3
	pkgrel = 1
	url = https://github.com/Bladtman242/potato
	arch = any
	license = MIT
	optdepends = alsa-utils sox
	provides = potato
	source = potato.sh
	source = LICENSE
	md5sums = fe65a89eb140dedcae981a8d92be4f7e
	md5sums = 1ddcbd2862764b43d75fb1e484bf8912

pkgname = potato

